<tr>
  <th scope="row"><%= trans.created_at.strftime('%d/%m/%Y') %></th>
  <td><%= trans.type %></td>
  <td><%= trans.transact_from %></td>
  <td>
    <% if trans.type == 'Credit' %>
      Wallet
    <% elsif trans.type == 'Debit' %>
      -
    <% else %>
      <%= trans.transact_to.owner.name %>
    <% end %>
  </td>
  <td>
    <strong class="<%= transaction_class(trans.type) %>">
      <%= transact_amount(trans.amount, trans.type) %>
    </strong>
  </td>
</tr>