<div class="card flex-row mb-4">
  <div class="card-body">
    <h5 class="card-title">Wallet Balance</h5>
    <p class="card-text">MYR <%= number_with_precision(@wallet.balance, precision: 2) %></p>
  </div>
  <%= button_tag 'Top Up', class: 'btn btn-sm btn-success align-self-center mr-4', data: {toggle: 'modal', target: '#topupModal'} %>
  <%= button_tag 'Withdrawal', class: 'btn btn-sm btn-danger align-self-center mr-4', data: {toggle: 'modal', target: '#withdrawModal'} %>
  <%= button_tag 'New Transfer', class: 'btn btn-sm btn-primary align-self-center mr-4', data: {toggle: 'modal', target: '#transferModal'} %>
</div>

<div class="card flex-row">
  <div class="card-body">
    <h5 class="card-title text-center">Transactions</h5>
    <% if @transactions.empty? %>
      <p class="text-center">There are no transactions yet</p>
    <% else %>
      <%= render partial: 'transaction_table', locals: {transactions: @transactions} %>
    <% end %>
  </div>
</div>

<%= render partial: 'topup_modal' %>
<%= render partial: 'withdrawal_modal' %>
<%= render partial: 'transfer_modal' %>